/*_________________________Variables________________________*/
:root {
  --main-headers-color: rgb(48, 29, 12);
  --main-bg-color: rgb(12, 164, 178);
}

/*_________________________Base styling_____________________*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 2.8rem;
  color: rgb(25, 25, 25);
}

p {
  font-size: 1.2rem;
}

a {
  color: rgb(68, 42, 25);
  text-decoration: none;
}

/*_________________________NAV Section styling______________*/
#main-header {
  min-height: 10vh;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
}

nav {
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  color: var(--main-headers-color);
  font-size: 2.8rem;
  font-family: "Pacifico", cursive;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search {
  width: 12vw;
  height: 2.5vh;
  margin-right: 1rem;
  border: 0.1rem solid rgb(69, 52, 37);
  border-radius: 2rem;
  transition: 0.2s ease-in-out;
}

#search:focus {
  width: 25vw;
  height: 4vh;
  outline: none;
}

#search-ico {
  max-height: 4.5vh;
}

/*_________________________Blogs Section styling____________*/

#blogs-section {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#all-blogs {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 3rem;
  padding: 3rem 0;
}

.blog {
  max-width: 85%;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  border: none;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.5rem 0.8rem 0.1rem rgba(0, 0, 0, 0.15);
  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.blog:hover {
  transition: 0.3s ease-in-out;
  overflow: visible;
  box-shadow: 0.3rem 0.5rem 0.8rem 0.1rem rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.blog-img {
  width: 100%;
  object-fit: cover;
}

.blog-info {
  text-align: center;
  width: 80%;
}

.rating-ico {
  max-width: 2rem;
}

/*________________________Footer Section styling____________*/
footer {
  min-height: 25vh;
  background-color: var(--main-bg-color);
}
